<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" >
<display-name>PilaresTG</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>web.Servlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Mantenedor</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Especialidade</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/OrdemDeServico</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Planejamento</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Apontamento</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Analise</url-pattern>
  </servlet-mapping>
  
  	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/funcionalidade_em_implementacao.jsp</location>
	</error-page>
	
 </web-app>